body{

   
    background-image: linear-gradient(to right,rgb(226, 232, 117),rgb(218, 84, 221));
}
div{
    width: 400px;
    height: 200px;
    margin-top: 200px;
    background-color: white;
    border-radius: 20px 20px 20px 20px ;
    translate: 600px;
}
div input[type=number]{
    border-radius: 10px ;
    border-color: black;
}
div button{
    border-color: black;
}